@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;0,800;1,100;1,300;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --clr: #14161e;
}

body{
    min-height: 109vh;
    background: #000;
    display: flex;
}
.sidebar{
    position: relative;
    width: 80px;
    height: 100%;
    background: #fff;
    transition: 0.5s;
    padding-left: 10px;
    overflow: hidden;
}
.text span{
    color: #f00;
}
.sidebar.active{
    width: 300px;
}
.sidebar ul{
    position: relative;
    height: 100vh;
}
.sidebar ul li{
    position: relative;
    list-style: none;
}
.sidebar ul li.active{
    background: #000;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.sidebar ul li.active::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px #000;
    background: transparent;
}
.sidebar ul li.active::after{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px -5px 0 5px #000;
    background: transparent;
}
.sidebar ul li.logo{
    margin-bottom: 50px;
}
.sidebar ul li.logo .icon{
   font-size: 2em;
   color: var(--bg);
}
.sidebar ul li.logo .text{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--clr);
}
.sidebar ul li a{
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}
.menulist li a .icon i{
    position: absolute;
}
.sidebar ul li a .icon{
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 10px;
    height: 70px;
    font-size: 1.5em;
    color: var(--bg);
    transition: 0.5s;
}
.sidebar ul li a .text{
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1em;
    padding-left: 15px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.sidebar ul li.active a .icon{
    color: #000;
}
.sidebar ul li.active a .text{
    color: var(--bg);
}
.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text{
    color: var(--bg);
}

.sidebar ul li.active a .icon::before{
    content: '';
    position: absolute;
    inset: 5px;
    width: 60px;
    background: var(--bg);
    border-radius: 50%;
}
.sidebar ul li:hover.active a .icon::before{
  background: #fff;
}

.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.imgbx{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menuToggle{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #f00;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuToggle::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0 9px 0 #fff;
}
.menuToggle::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transform: translateY(9px);
    transition: 0.5s;
}
.menuToggle.active::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #fff;
}
.menuToggle.active::after{
    transform: translateY(0px) rotate(-45deg);
}

.about{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    padding: 11px;
    margin: 22px;
  }
  
  .about-img img{
    width: 100%;
    height: auto;
  }
  .about-text h2{
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 2rem;
    text-align: center;
    color: #fff;
  }
  .about-text p{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .btn{
    display: inline-flex;
    padding: 15px 35px;
    background: #c00;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all .50s ease;
    text-decoration: none;
    align-items: center;
  }
  .btn i{
    vertical-align: middle;
    margin-left: 9px;
    font-size: 22px;
  }
  .btn:hover{
      background: #fff;
      color: #000;
      box-shadow: #111 0px 1px 25px;
  }
  
  section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
}
.container {
    position: relative;
    gap: 4rem;
    justify-content: center;
    display: flex;
}

.container .card {
    position: relative;
    width: 220px;
    height: 350px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    content: "Nike";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);

}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 75%;
    transition: .5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 270px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {  /* other bug */
    background: #B90000;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
     background: #f00;
}

.container .card .contentBx .color span:nth-child(3) {
     background: #1B2FE9;
}

.container .card .contentBx .color span:nth-child(4) {
     background: #080481;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
} 
.card.active{
    opacity: 1;
}
section{
    justify-content: center;
    gap: 4rem;

}
